

    
        <img style="margin-left: 30%;" [src]="SelectedNews.urlToImage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="margin-left: 30%;" class="card-title">{{SelectedNews.author}}</h5>
          <h5  style="margin-left: 30%;" class="card-title">{{SelectedNews.publishedAt}} </h5>
          <p style="color: black;" class="card-text">{{SelectedNews.description}}</p>
        
        </div>
     



        <footer>

          <div class="footer">
      
          <div class="foot">
              <ul id="ul1">
      
                  <li class="footer-link">
                      <a class="footer-home" routerLink="/" >News </a>
                    </li>
                  <li class="footer-link">
                      <a class="footer-home" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLink="/" >Home</a>
                    </li>
                    <li class="footer-link">
                      <a class="footer-home" routerLinkActive="active" routerLink="articles">Articles</a>
                    </li>
                    <li class="footer-link">
                      <a class="footer-home" routerLinkActive="active" routerLink="contacts">Contacts</a>
                    </li>
          
      
      
      
              </ul>
          </div>
      
      
          <div class="foot2">
              <ul id="ul2">
      
      
                  <li id="li2"><a >Terms & Conditions</a></li>
                  <li id="li2"><a >Privacy Policy</a></li>
                  <li id="li2"><a >Shipping Policy</a></li>
                  <li id="li2"><a>Refund Policy</a></li>
                  <li id="li2"><a >Cookies Policy</a></li>
                  <li id="li2"><a >FAQ</a></li>
      
      
      
              </ul>
          </div>
      
      
      
          <div class="foot2">
              <ul id="ul2">
      
      
                  <li id="li2"><a >Facebook</a></li>
                  <li id="li2"><a >Instagram</a></li>
                  <li id="li2"><a >Twitter</a></li>
                  <li id="li2"><a >Tiktok</a></li>
                  
      
      
      
              </ul>
          </div>
      
          <div class="email">
          
      
          <table>
              <h1 class="emial-h1" >Subscribe for exclusive discounts and updates:</h1>
              <p>Enter your email adress*</p>
      
              <label for="email"></label>
              <input type="email" id="emialid" placeholder="Email">
              <button type="submit" style="border: 2px blue solid;">Subscribe</button>
      
          </table>
      
          </div>
      
      
      
         
      
      
      
      
      
      
          </div>
      
          
      
      
      
      
      
      
      
      
      </footer>
      