.georgia{
    margin-top: 5%;
    width: 130%;
    height: 10%;
    position: relative;
  
    
  
}

.home{
    width: 76%;
    height: 10%;
    position: relative;
}

body{
    border: 2px solid red;
}

.foot {
    margin-top: 18%;
    border: 2px solid rgb(255, 255, 255);

    height: 50% ;
    width: 23%;
    background-color: rgb(88, 147, 230)
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    height: 1100px; 
    width: 100%;
}


.footer {
    display: flex;
    flex-direction: row;
    
    height: 100%;
    width: 100%;
    
}


#ul1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 5%;
    padding-left: 8%;
}


#li2 {
    margin-top: 10%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#ul2 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 5%;
    padding-left: 8%;
}


#li1 {
    margin-top: 10%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.foot2 {
    margin-top: 18%;
    border: 2px solid rgb(255, 255, 255);
    height: 50% ;
    width: 23%;
    background-color: rgb(88, 147, 230)
    
}


.email{
    margin-top: 18%;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(88, 147, 230);
    height: 50% ;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 3%;
    
}
.emial-h1{
    margin-top: 25%;
    
}
p{
    color: blue;
    font-size: 25px;
    margin-top: 3%;
    
}

#emialid{
    padding-left: 2%;
    width: 80%;
    height: 8%;
    border: 3px solid blue;
    border-radius: 29px;
    margin-top: 5%;
    font-size: x-large;
    background-color: transparent;
    

}
button{
    margin-top: 5%;
   border: 2px solid red;
   width: 50%;
   height: 8%;
   border-radius: 25px;
   font-size: large;
   background-color: blue;
   cursor: pointer;
   color: white;

}
button:hover{
    background-color: white;
    color: blue;
    
}

a{
    color:blue ;
    cursor: pointer;
    list-style: none;
}
a:active{
    color: white;

}

li{
    list-style: none;
    text-decoration: none;
}

.footer-link{
   text-decoration: none;
    margin-top: 18%;
    color: black;
    height: 100% ;
    width: 23%;
    
}
.footer-home{
    text-decoration: none;
    font-size: x-large;
    margin-top: 18%;
    color: black;
    height: 100% ;
    width: 23%;
}
.shop-part{
    border: 2px solid blue;
    background-image: url('https://th.bing.com/th/id/R.abb1f6477d8003709a6222e226823056?rik=8eBBTzyhYnjqgQ&riu=http%3a%2f%2fd2u4q3iydaupsp.cloudfront.net%2fZFdK2BMFDqrBQAWI0nkMBGtenVs1wJeL63p65yL49BRO4bVTXZ7MOOAGG9jhIxJSzx72ezj1uHmN8ihm6y3EIiJMaJDigfVVGuN7SNlHMYo7YREwRRu6E3VCWTirVbkL&ehk=KRWcpJ1%2bTX6YCBLtJrAveVCn%2fa9e7DytNkPpcjPI9A4%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 600px;
    
}
.h1-shop{
    margin-top: 10%;
    color: white;
    font-size: 50px;
}
.frest-button1{
    background-color: transparent;
    text-decoration: none;
    list-style: none;
    color: red;
 background-color: red;
    margin-left: 10%;
    width: 200px;
}
.card-h2{
    color: white;
}
@media screen and (max-width:900){
    .footer{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
   
}